.grid-container {
    display: grid;
    grid-template-columns: 10% auto 30%;
    grid-gap: 10px;
}

.grid-container div {
    /* border: 1px solid black; */
    background-color: rgb(255, 212, 148);
}

#header {
    grid-column: 1 / span 3;
    font-size: 30px;
    text-align: center;
    font-family: open sans;
    font-weight: bolder;
}

#content1 {
    grid-column: 1 / span 2;
}

.ingred {
    font-size: 30px;
    font-family: open sans;
    font-weight: bolder;
}

.list {
    padding-top: 10px;
}

#content2 {
    grid-column: / span 1;
}

#content3 {
    grid-column: 1 / span 3;
}

#content3 img {
    width: 300px;
    border-radius: 15px;
    margin-top: 30px;
}

#content2 img {
    width: 300px;
    margin-left: 40px;
    border-radius: 15px;
}

#content3 li {
    margin-top: 20px;
}

.instruc {
    font-size: 30px;
    font-family: open sans;
    font-weight: bolder;
}

#footer {
    font-size: 20px;
    text-align: center;
    grid-column: 1 / span 3;
}

@media only screen and (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .grid-container div {
        background-color: rgb(255, 229, 172);
    }
    #header {
        grid-column: 1 / span 3;
        font-size: 30px;
        text-align: center;
        font-family: open sans;
        font-weight: bolder;
    }
    #content2 img {
        width: 300px;
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 40px;
    }
    #content1 {
        grid-column: 1/ span 2;
    }
    .ingred {
        font-size: 30px;
        font-family: open sans;
        font-weight: bolder;
    }
    .list {
        padding-top: 10px;
    }
    #content2 {
        grid-column: 1 / span 1;
    }
    #content3 {
        grid-column: 1 / span 1;
    }
    #content3 img {
        width: 300px;
        border-radius: 15px;
        margin-top: 30px;
    }
    #content3 li {
        margin-top: 20px;
    }
    .instruc {
        font-size: 30px;
    }
    #footer {
        font-size: 20px;
        text-align: center;
        grid-column: 1 / span 2;
    }
}